/*@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Lora:ital@1&display=swap');

/* PC / Basics */

body {
  min-height: 100vh;
  font-family: 'Lora', serif;
}

header {
  background-color: crimson;
  width: 100vw;
}

header h1 {
  color: white;
  font-family: 'Fuzzy Bubbles', cursive;
  font-weight: 400;
  margin: 0;
  padding: 30px 0 0 50px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  color: white;

  padding: 1.5rem;
}

.link:hover {
  text-decoration: underline;
  color: blue;
}

.content {
  width: 70%;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.half-block {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.half-block-right {
  text-align: right;
}

/* Mobile */

@media only screen and (max-width: 750px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  .half-block {
    display: block;
    width: 100%;
  }
  .half-block-right {
    margin-top: 50px;
    text-align: center;
  }
}
